@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet')
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif; 
	
/*		
*/
}
section
{
	width:100%;
	height: 100vh;
	/*background: url('https://edge.sharkyandgeorge.com/1/1241/2.jpg');
	background-size: cover; */

}
#content
{
	background: url('https://img.theweek.in/content/dam/week/news/biztech/2017/november/kids.jpg');
	background-size: cover; 
}
section .leftBox
{
width: 50%;
height: 100%;
float: left;
padding: 50px;
box-sizing: border-box;

}
section .leftBox .leftContent
{
 color: #fff;
 background: rgba(0,0,0,.5);
 padding: 40px;
 transition: .5s;
}
section .leftBox .leftContent:hover
{
	background: #362e30;

} 
section .leftBox .leftContent h3
{
	margin: 0;
	padding: 0;
	font-size: 50px;
	text-transform: uppercase;
}
section .leftBox .leftContent p
{
	margin: 10px 0 0;
	padding: 0;

}
section .events 
{
	position: relative;
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,.5);
	float: right;
	box-sizing: border-box;
}
section .events ul
{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin:0;
	padding:40px;
	box-sizing: border-box; 
}
section .events ul li
{
	list-style: none;
	background: #fff;
	box-sizing: border-box;
	height: 200px;
	margin: 15px 0;
}

section .events ul li .time
{
	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	transition: .5s;


} 
section .events ul li:hover .time
{
	background: #362e30;
}
section .events ul li .time h2
{
position: absolute;
margin: 0;
padding: 0;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
color: #fff; 
font-size:60px;
line-height: 30px;

}
section .events ul li .time h2 span
{
	font-size:30px;


}
section .events ul li .details
{
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	float: left;
}
section .events ul li .details h3
{
	position: relative;
	margin:0 ;
	padding: 0;
	font-size:22px;
}
section .events ul li .details p
{
/*	position: relative;
*/	margin:10 px ;
/*	padding: 0;
*/	font-size:16px;
}
section .events ul li .details a
{
	display: block;
	text-decoration: none;
	
	padding:10px 10px;
	border: 2px solid #262626;
	margin-top: 10px;
	font-size: 18px;
	transition: .5s;
	float: right; 
	color: blue;
}
section .events ul li .details a:hover
{
	background: #362e30;
	color: #fff;
	border-color: #362e30;
}
@media (max-width: 991px)
{
	section
	{
		height: 100%;
/*		width: 100vh;
*/		background-position: center;
    }
section .leftBox
{
width: 100%;
height: auto;
float: none;
padding: 20px;
}
section .events
{
	
	width: 100%;
	height: auto;
	background: transparent;
	float:none;
}
section .leftBox .leftContent
{ padding: 20px;

}
section .leftBox .leftContent h3
{
	font-size: 30px;
}
section .events ul
{
	position: relative;
	transform: translateY(0px);
	padding: 0 20px 20px;

}
section .events ul li
{
	height:auto;
	background: rgba(255,255,255,.8);

}
section .events ul li .time
{
	width:100px;
	height:100px;
	padding: auto;
}
section .events ul li .time h2
{
 font-size: 30px;
 line-height: 24px;
}
section .events ul li .details
{
 width : 100%;
 float: none;
 padding-left: 100px;
}
}


